//**-FORMS-**
label.control-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  margin-right: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
input[type=checkbox] {
	display:none;
	margin-left: 15px;
}
input[type=checkbox] + label {
	background: url('../../images_/check-box-idle.png') no-repeat 0 0;
	background-size: 24px;
	width: 24px;
	height: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label {
	background: url('../../images_/check-box-checked.png') no-repeat 0 0;	
	background-size: 24px;
	height: 24px;
	width: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
}

input[type=radio]  {
	display:none;
	margin-left: 15px;
}

input[type=radio] + label {
	background: url('../../images_/radio-idle.png') no-repeat 0 0;
	background-size: 24px;
	width: 24px;
	height: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=radio]:checked + label {
	background: url('../../images_/radio-checked.png') no-repeat 0 0;	
	background-size: 24px;
	height: 24px;
	width: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
}
.form-control { 
	border-radius: 0px !important; 
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 40px;
} 
select#select-override{
	border-radius:0px !important;
}
select.form-control {
	overflow: hidden;
	border: none;
	display:inline-block;
	border: 1px solid #ccc;
	border-radius: 0px !important;
}
select.form-control option {
	width:100%;
	height:auto;
	border:1px solid $mdgray;
	background-color:$lightgray;
	display:inline-block;
    float: left;
	padding: 10px 0px 10px 30px;
	margin-bottom: 7px;
}
select.form-control span {
	display: inline-block;
	margin-left: 10px;
}
label{
	font-weight: bold !important;
}