<!--FOOTER-->
<footer class="footer">
	<div class="container-fluid">
		<div class="row help">
			  <div class="container">
				  <p class="text-center">Need assistance or have questions? 
					  <a id="livechat" style="cursor:pointer;"> Live Chat</a> | <a href="mailto:talk@eshop.com">talk@eshop.com</a> <br><a href="tel:+1-888-888-8888">888-888-8888 (U.S. &amp; Canada)</a> or <a href="tel:+1-777-777-77777">1-777-777-7777 (local &amp; international)</a></p>
			  </div>
		</div>
</footer>

<!-- Chat Innitializer start -->