{% extends 'header.html' %} {% block body %}
<div class="banner_id">
	<div class="banner_id_mid_sec">
		<div class="mid_all_contant">
			<div class="banner">
				<img src="../../public/images/Logo.png" height="278px"
					style="margin-left: 362px" width="310px" alt="VideoCRM" border="0">
				<div class="mid_sec00">
					<h2>
						<a href="#">Try Video CRM for Free </a>
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="comments_id">
	<div class="comments_text_mid">
		<div class="comment_img"></div>
		<div class="comment_text_sec">
			<h3>VideoCRM is a Lead Generation and Customer Relationship
				Management (CRM) system built by sales people for sales people. It's
				simple, it's affordable and it works.</h3>
		</div>
	</div>
</div>
{% endblock %}
