
$darkblue: #30578B;
$green: #397664;
$green-hover: #2B6D5E;
$yellow: #fdb109;
$lightblue: #008dbd;
$darkgray: #1E1E1E;
$mdgray: #2E2E2E;
$gray: #DAD6D2;
$light-gray: #f5f5f5;
$lightgray: #F3F3F3;
$border-gray: #dad6d2;

$error: #c03a3a;


$xsmall-width: 270px;
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$lg-desktop-width: 1200px;