@charset "utf-8";
/* CSS Document */

#topline #topl_lft img {
	margin-top:2px;
}

#menu ul li a {
	padding-left:25.26px;
	padding-right:25.25px;
}

#social .phone {
	background-position:0 3px;
}

#slider_bot_bar ul li a {
	padding-top:1px;
}

#order_button {
	line-height:33px;
}

#menu ul {
	width:99%;
	float:right;
}

#logo_links {
	margin-top:-45px;
}

#news_letter_talk .news_letter form {
	padding-top:0px;
}

#news_letter_talk {
	padding-bottom:0px;
}

#newslinput {
	border:solid 1px #CCC;
}

#talk_div {
	width:540px;
}

#talk_div ul li {
	margin-left:4px;
}

#find_end {
	background:none;
	border:none;
}

#find_end.newie {
	margin-top:-30px;
}

.bottom_menu {
	margin-top:-30px;
}

.bottom_menu ul.last_ul {
	width:240px;
}

.subidnew {
	margin-top:30px;
}

#main_heading.content_headp #search_form_p form .inputbtn_serach {
	float:left;
}

#studio_left, #studio_right {
	width:50%;
	height:550px;
	float:left;
}

#edit_txt_area {
	height:50px;
}